@font-face {
    font-family: font-Bold;
    src: url(fonts/sf-pro-display_bold.ttf);
}
@font-face {
    font-family: font-semibold;
    src: url(fonts/sf-pro-display_semibold.ttf);
}
@font-face {
    font-family: font-regular;
    src: url(fonts/sf-pro-display_regular.ttf);
}
@font-face {
    font-family: font-Bold;
    src: url(fonts/sf-pro-icons_bold.ttf);
}
@font-face {
    font-family: font-Regular;
    src: url(fonts/sf-pro-icons_regular.ttf);
}
@font-face {
    font-family: font-Text;
    src: url(fonts/sf-pro-text_regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: font-Regular;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    width: 100%;
    min-height: 100vh;
}
nav{
    width: 100%;
    height: 7vh;
    background-color: #161617;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5vw;
}
nav a{
    text-decoration: none;
    color: #fff;
}
nav i{
    font-size: 1.3vw;
    color: #fff;
}
.part1{
    width: 100%;
    height: 85vh;
    background-image: url(img/hero_iphone15pro__i70z9oz3hj2i_largetall.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.text-part1{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 20vw;
    color: #fff;
    gap: 1vh;
}
.text-part1 h1{
    font-size: 4vw;
    font-family: font-regular;
}
.text-part1 p{
    font-size: 1.5vw;
    font-family: font-semibold;
}
.link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    font-size: 1.5vw;
}
.link a{
    text-decoration: none;
    color: rgb(48, 48, 246);
}
.link a:hover{
    border-bottom: 1px solid rgb(48, 48, 246);
}
.part2{
    background-image: url(img/hero_iphone15_announce__uuemlcwczn6u_largetall.jpg);
}
#whitetxt{
    color: black;
}
.part3{
    width: 100%;
    height: 100vh;
    background-image: url(img/hero_apple_watch_series_9__x5wo4ptz2giu_large_2x.jpg);
    background-size: cover;
}
#txt3{
    padding: 40vw;
}
#txt3 p{
    width: 35vw;
}